.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/static/images/bg.jpg');
  background-size: cover;
  background-position: center center;
}

.img-selected{
  border: 5px solid red;
}